<!-- <h1>product details</h1>
<h3 >Product name{{product.name}}</h3>
<img src="{{product.image}}" alt="">
<h3>price: {{product.price}}</h3>
<h3>Gst: {{product.gst}}</h3>
<p>result:{{calculate()}}</p>
<h3>In stock: {{product.inStock>0?product.inStock+ "iteam left": "out of stock"}}</h3>

<p *ngIf="product.inStock>0; else elseblock">
{{product.inStock+"items left"}}
</p>
<ng-template #elseblock>out of stock</ng-template>

<button (click)="decrementquantity()">-</button>
{{quantity}}
<button (click)="incrementquatity()">+</button> <br><br>
<button [disabled]="product.inStock<=0">Buy now </button>
<br>
<input type = "text" value="{{product.name}}" (mouseover)="changename1()" (mouseout)="changename2()"><br><br>
<button [ngStyle]="{'background-color': 'red', 'color':'white'}">DEliver to this address</button>
<br><br>
<button [ngStyle]="{'background-color':product.inStock>0?'green':'red',color:'white'}">Deliver to this address</button>
<button [ngStyle]="applyStyle()">deliver to this address</button> -->
<!-- <app-forms></app-forms>
<app-reactiveform></app-reactiveform>
<app-product></app-product> -->
<div class="container-fluid">
    <h1 class="text-center">Todo Application</h1>
    <app-todos ></app-todos>
</div>